[Desktop Entry]
Name=Keyboard settings
Name[de]=Tastatureinstellungen
Name[el]=Ρυθμίσεις διάταξης πληκτρολογίου
Name[fr]=Configuration du clavier
Name[fi]=Näppäimistö
Name[pt_BR]=Layout do Teclado
Comment=Keyboard configuration tool
Comment[de]=Konfiguration des Tastaturlayouts
Comment[el]=Ρύθμιση της διάταξης του πληκτρολογίου
Comment[fr]=Utilitaire de configuration du clavier
Comment[fi]=Näppäimistön asetus työkalu
Comment[pt_BR]=Ferramenta de configuração do teclado
Exec=kdesu gtkkeyboardsetup
Icon=gtkkeyboardsetup
Terminal=false
Type=Application
Categories=Application;System;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
OnlyShowIn=KDE
