[Desktop Entry]
Name=Startup Services
Name[de]=Systemdienste
Name[fr]=Services
Name[el]=Υπηρεσίες συστήματος
Name[pt_BR]=Serviços
Comment=Services configuration tool
Comment[de]=Systemdienste konfigurieren
Comment[el]=Διαχείρηση των υπηρεσιών συστήματος
Comment[fr]=Utilitaire de configuration des services
Comment[pt_BR]=Ferramenta de configuração de serviços
Exec=kdesu gtkservicesetup
Icon=gtkservicesetup
Terminal=false
Type=Application
Categories=Application;System;
StartupNotify=true
Encoding=UTF-8
OnlyShowIn=KDE
